<template>
    <div>
        <b-container fluid>
            <div class="d-flex mb-3">
                <div class="mr-auto p-2  ">
                    <img src="img/Logo_Dashboard.png" alt="">
                </div>
                <div class="p-2">
                    <b-button variant="secondary" size="sm">help &nbsp;<b-badge variant="light">?</b-badge>
                    </b-button>
                </div>
                <div class="p-2">
                    <b-button variant="outline-primary" size="sm">upgrade</b-button>
                </div>
                <div class="p-2">
                    <b-avatar variant="info" src="img/avatar.png"></b-avatar>
                </div>
            </div>
            <!--        </b-row>-->

        </b-container>
        <b-container fluid>
            <b-row>
                <b-col cols="12" class="px-0">
                    <b-tabs content-class="bg-active-tab"
                            active-nav-item-class="font-weight-bold"
                            active-tab-class=""
                            nav-wrapper-class="ml-5"

                    >
                        <b-tab title="Table by dates" active>
                            <b-row>
                                <b-col cols="12" md="3">
                                    <b-row class="my-5 pl-5">
                                        <b-button class="rounded-lg mx-auto" variant="outline-primary" size="lg">
                                            <b-badge variant="primary">+</b-badge>
                                            Create new
                                        </b-button>
                                    </b-row>
                                    <b-row class="my-2 pl-5">
                                        <b-col cols="2" class="d-flex justify-content-center align-items-center">
                                            <b-icon scale="2" icon="exclamation-circle-fill"></b-icon>
                                        </b-col>
                                        <b-col cols="10" class="d-flex justify-content-start align-items-center">
                                            <div>
                                                <h6>Metrics</h6>
                                                <p class="small">Track your apps across devices</p>
                                            </div>
                                        </b-col>
                                    </b-row>
                                    <b-row class="my-2 pl-5">
                                        <b-col cols="2" class="d-flex justify-content-center align-items-center">
                                            <b-icon scale="2" icon="exclamation-circle-fill"></b-icon>
                                        </b-col>
                                        <b-col cols="10" class="d-flex justify-content-start align-items-center">
                                            <div>
                                                <h6>Results</h6>
                                                <p class="small">View your results as Excel file</p>
                                            </div>
                                        </b-col>
                                    </b-row>
                                    <b-row class="my-2 pl-5">
                                        <b-col cols="2" class="d-flex justify-content-center align-items-center">
                                            <b-icon scale="2" icon="exclamation-circle-fill"></b-icon>
                                        </b-col>
                                        <b-col cols="10" class="d-flex justify-content-start align-items-center">
                                            <div>
                                                <h6>Reports</h6>
                                                <p class="small">Get insights into the big data</p>
                                            </div>
                                        </b-col>
                                    </b-row>
                                </b-col>

                                <b-col cols="12" md="9">
                                    <h1 class="pt-5 pb-3">Dashboard</h1>
                                    <b-table hover :items="sums" thead-class="_d-none"></b-table>
                                </b-col>
                            </b-row>
                        </b-tab>
                        <b-tab title="Raw table">
                            <h1>Dashboard</h1>
                            <b-table hover :items="items" :fields="fields"></b-table>
                            <!--                        <b-table hover :items="sums"  thead-class="d-none"></b-table>-->
                        </b-tab>
                        <!--                            <b-tab title="Disabled" disabled><p>I'm a disabled tab!</p></b-tab>-->
                    </b-tabs>
                </b-col>
            </b-row>
        </b-container>


    </div>
</template>
<script>
const default_layout = "default";


export default {
    data() {
        return {
            items: [],
            sums: [],
            fields: [
                {
                    key: 'id',
                    sortable: true
                },
                {
                    key: 'company',
                    sortable: true
                },
            ],
        }
    },

    // computed: {
    //     fields: function ()

    mounted() {
        this.fetchTableData()
        this.fetchTableDatesSummary()
        this.fetchTableDates()
        // this.fetchTableSums()
    },
    methods: {
        fetchTableData() {
            axios.get('/getData').then(res => {
                this.items = res.data
            })
        },
        fetchTableDatesSummary() {
            axios.get('/getTableDatesSummary').then(res => {
                this.sums = res.data
            })
        },
        fetchTableDates() {
            axios.get('/getDates').then(res => {
                // window.console.log(res);
                for (const [k, v] of Object.entries(res.data)) {
                    if (k !== 'id' & k !== 'company')
                        this.fields.push({
                            key: k,
                            label: k.slice(0, -6) + ' ' + v,
                            sortable: true
                        })
                    // window.console.log(`${k} ${v}`);
                }
            })

        },
        fetchTableSums() {
            axios.get('/getSum').then(res => {
                this.sums = res.data
            })
        },
    }
};
</script>
<style>
.bg-active-tab {
    background: #E2F0F0;
}
</style>
